REKEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
CLID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
CLSEC=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# this file should be given as STDIN to ./AUTH
# which will return an authkey formatted for exporting